@charset "UTF-8";

.adopt_title{
    border-bottom: 1px solid black;
    padding: 2.4rem;
    margin-bottom: 3.5rem;
}
.adoptForm{
	width: 50%;
}

textarea {
  width: 100%;
  height: 200px;
  resize: none;
}
.adopt_content label{
	padding-bottom: 2px;
	font-weight: 700;
}
.adopt_content form{
	border-radius: 0.75rem;
    box-shadow: 1px 1px 10px 0 rgb(72 75 108 / 8%);
    border: 0.0625rem solid #D7E2EB;
}

input[type='radio']{
	width: 1.5rem;
	height: 1.5rem;
	margin-right: 1rem;
}
.adopt_content .form-check-label{
	margin-top: 4px;
	font-weight: normal;
}

