/* @import url('https://fonts.googleapis.com/css2?family=Jua&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&display=swap'); */

/* header css */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
}
.header{
  border-bottom: 1px solid #f2f2f2;
  align-items: center;
  background: #fff;
}
#navSize{
  width: 100%;
  max-width: 1200px;
}
#naveSize a{
  color: black;
}
#navImg{
  width: 30px;
  height: 30px;
}

/* a태그 모두 공통 
밑줄, 파란색 제거*/
a{
  text-decoration-line: none;
  color: black;
}

/* footer css */
footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: black;
}

footer ul{
  padding: 20px 0;
  list-style: none;
  font-size: 12px;
  color: white;
  margin: 10px 30px;
  font-weight: bold;
}

/* 개인정보처리방침, 이용약관 */
footer ul a{
  text-decoration: none;
  margin-right: 12px;
  color: white;
}

/* footer 구해줘!펫즈 */
.footBrand{
  font-family: 'Jua', sans-serif;
  font-size: 35px;
  margin-bottom: 10px;
  /* font-weight: bold; */
  
}