@charset "UTF-8";


.item_text{
	text-align: right;
}
.sponsor_title {
	font-size: 22px bold;
	/* border-top: 1px solid black; */
	border-bottom: 1px solid black;
	padding: 2.4rem;
	margin-bottom: 1.5rem;
}
.sponsor_border{
 	border-bottom: 1px solid #ced4da;
}
.sponsor-input{
	flex: 1 0 0;
}
.sponsor_info{
	font-size: 20px;
	font-weight: bold;
	padding-bottom: 1.0rem;
}
#sponsor_form{
	width: 60%;
	align-content: center;
	border-radius: 0.75rem;
    box-shadow: 1px 1px 10px 0 rgb(72 75 108 / 8%);
    border: 0.0625rem solid #D7E2EB;
}
.sponsor_from_title{
	border-bottom: 1px solid #ced4da;
	font-size: 1rem;
}

p {
	font-size: 17px;
}

.text-end {
  text-align: right !important;
}